<li class="article {% cycle ' ', ' ', 'last' %}">
  <h3><a href="/articles/{{ article_summary._permalink }}">{{ article_summary.title }}</a></h3>
  <p class="date">{{ article_summary.posted_at | localized_date: '%A %d %B %Y', 'en' }}</p>
  <div class="body">
    {{ article_summary.body | strip_html | truncate: 200 }}
  </div>
  <p class="read-more">
    <a href="/articles/{{ article_summary._permalink }}">Read more</a>
  </p>
</li>
