<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:wfw="http://wellformedweb.org/CommentAPI/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
  xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
  >
      <channel>
        <title>{{ site.seo_title }}</title>
        <description>{{ site.meta_description }}</description>
        <link>http://www.locomotivecms.com</link>
        <language>en</language>
        <copyright>LocomotiveCMS</copyright>
        <ttl>30</ttl>
        <atom:link href="http://www.locomotivecms.com/articles/rss.xml" rel="self" type="application/rss+xml" />
      {% for article in contents.articles %}
        <item>
          <title>{{ article.title }}</title>
          <description><![CDATA[{{ article.excerpt }}]]></description>
          <content:encoded><![CDATA[{{ article.body }}
    ]]></content:encoded>
          <link>http://www.locomotive.com/articles/{{ article._permalink }}</link>
      <guid isPermaLink="true">http://www.locomotive.com/articles/{{ article._permalink }}</guid>
      <pubDate>{{ article.posted_at | localized_date: '%a, %d %b %Y %H:%M:%S %z' }}</pubDate>
          <source url="http://www.locomotivecms.com/">locomotivecms.com</source>
        </item>
{% endfor %}
      </channel>
    </rss>