---
{
  "name": "Footer",
  "class": "section-footer",
  "icon": "footer",
  "keep_name": true,
  "keep_icon": true,
  "settings": [],
  "blocks": [
    {
      "name": "Column",
      "type": "column",
      "settings": [
        {
          "label": "Name",
          "id": "name",
          "type": "text",
          "default": "Column"
        }
      ]
    },
    {
      "name": "Page",
      "type": "page",
      "settings": [
        {
          "label": "Title",
          "id": "title",
          "type": "text",
          "default": "Link"
        },
        {
          "label": "Link",
          "id": "link",
          "type": "url",
          "default": "#"
        }
      ]
    }
  ],
  "global_content": {
    "settings": {},
    "blocks": [
      {
        "type": "column",
        "settings": {
          "name": "Locomotive"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "Home",
          "link": "/"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "Testimonials",
          "link": "/testimonials"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "Pricing",
          "link": "/pricing"
        }
      },
      {
        "type": "column",
        "settings": {
          "name": "Company"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "Contact",
          "link": "mailto:contact@locomotivecms.com"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "Terms of use",
          "link": "/terms-of-use"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "NoCoffee",
          "link": "https://www.nocoffee.fr"
        }
      },
      {
        "type": "column",
        "settings": {
          "name": "Developers"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "Github",
          "link": "https://github.com/locomotivecms"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "Documentation",
          "link": "https://doc.locomotivecms.com"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "Contribute",
          "link": "https://github.com/locomotivecms/engine#contribute"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "Gitter chat",
          "link": "https://gitter.im/locomotivecms/engine"
        }
      },
      {
        "type": "column",
        "settings": {
          "name": "Support"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "Tweet at us",
          "link": "https://twitter.com/locomotivecms"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "Ask a question",
          "link": "https://doc.locomotivecms.com/discuss"
        }
      },
      {
        "type": "page",
        "settings": {
          "title": "Privacy policy",
          "link": "/privacy-policy"
        }
      }
    ]
  }
}
---
<footer class="footer">
  <div class="container">
    <div class="columns is-multiline is-mobile">
      <div class="column is-full-touch">
        <a href="{% path_to home %}" class="footer-brand">
          <img src="{{ 'logo-black.png' | theme_image_url | resize: '280x>' }}" alt="{{ site.seo_title }}">
        </a>
      </div>

      {% for block in section.blocks %}

        {% if block.type == 'column' %}

          {% unless forloop.first %}</div>{% endunless %}

          <div class="column {% if forloop.first %}is-offset-1-desktop{% endif %} is-half-touch" {{ block.locomotive_attributes }}>
            <h5 class="title">{{ block.settings.name }}</h5>

        {% else %}

          <a href="{{ block.settings.link }}" class="footer-link" {{ block.settings.link.new_window_attribute }} {{ block.locomotive_attributes }}>
            {{ block.settings.title }}
          </a>

        {% endif %}

        {% if forloop.last %}
          </div>
        {% endif %}

      {% endfor %}
    </div>
    <div class="footer-copyright">
      © {{ now | format_date: '%Y' }} <a href="https://www.nocoffee.fr">NoCoffee SARL</a>, all rights reserved
    </div>
  </div>
</footer>
