---
{
  "name": "Quotes",
  "class": "section-quotes",
  "icon": "slide",
  "keep_icon": false,
  "keep_name": false,
  "settings": [
    {
      "label": "Title",
      "id": "title",
      "type": "text"
    },
    {
      "label": "Background image",
      "id": "background_image",
      "type": "image_picker"
    },
    {
      "label": "Manage testimonials",
      "id": "testimonials",
      "type": "content_type"
    }
  ],
  "blocks": [
  ],
  "dropzone_presets": [
    {
      "name": "Quotes",
      "category": "Content",
      "settings": {
        "title": "Love developing for your CMS as much as your clients love using it",
        "background_image": "/samples/sections/home-testimonials.jpg"
      },
      "blocks": []
    }
  ]
}
---
<div class="quotes-container" style="background-image: url('{{ section.settings.background_image }}')">
  <div class="container">
    <div class="columns">
      <div class="column is-vcentered">
        <h2 class="title is-size-1 has-text-white">{{ section.settings.title }}</h2>
      </div>
      <div class="column is-vcentered">
        <div>
          <div class="quote-list">
            {% for testimonial in contents.testimonials %}
              <div class="quote-item">
                <div class="quote-item-inner">
                  <div class="quote-box">
                    <div class="quote-message is-size-5">{{ testimonial.quote }}</div>
                    <a href="{% path_to testimonial %}" class="quote-read" title="Read full testimonial">
                      Read full testimonial
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                  </div>
                  <h6 class="quote-person">
                    <img src="{{ testimonial.picture.url | resize: '90x90#' }}" alt="{{ testimonial.name }}" />
                    <strong>
                      {{ testimonial.name }}
                      <span>{{ testimonial.company }}</span>
                    </strong>
                  </h6>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
