---
{
  "name": "Quotes",
  "class": "section-quotes",
  "icon": "slide",
  "keep_icon": false,
  "keep_name": false,
  "settings": [
    {
      "label": "Title",
      "id": "title",
      "type": "text"
    },
    {
      "label": "Background image",
      "id": "background_image",
      "type": "image_picker"
    },
    {
      "label": "Manage testimonials",
      "id": "testimonials",
      "type": "content_type"
    }
  ],
  "blocks": [
  ],
  "dropzone_presets": [
    {
      "name": "Quotes",
      "category": "Testimonials",
      "settings": {
        "title": "Love developing for your CMS as much as your clients love using it",
        "background_image": "/samples/sections/home-testimonials.jpg"
      },
      "blocks": []
    }
  ]
}
---
<div class="quotes-container" style="background-image: url('{{ section.settings.background_image }}')">
  <div class="container">
    <div class="columns">
      <div class="column is-vcentered">
        <h2 class="title is-size-1 has-text-white">{{ section.settings.title }}</h2>
      </div>
      <div class="column is-vcentered">
        <div>
          <div class="quote-list">
            {% for testimonial in contents.testimonials %}
              <div class="quote-item">
                <div class="quote-item-inner">
                  <div class="quote-box">
                    <div class="quote-message is-size-5">{{ testimonial.quote }}</div>
                    <a href="{% path_to testimonial %}" class="quote-read" title="Read full testimonial">
                      Read full testimonial
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                  </div>
                  <h6 class="quote-person">
                    <img src="{{ testimonial.picture.url | resize: '90x90#' }}" alt="{{ testimonial.name }}" />
                    <strong>
                      {{ testimonial.name }}
                      <span>{{ testimonial.company }}</span>
                    </strong>
                  </h6>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %}
Above is the JSON definition of your section filled with random settings and blocks.
The setting's type can be one of the following values : checkbox, image_picker, index, radio, text, select, url.
Modify it to match your needs. Please visit: https://doc.locomotivecms.com/v4.0/docs/json-definition.

To use your section, 2 possibilites:

1. within a dropzone

Make sure that your layouts includes the following liquid tag:

  {% sections_dropzone %}

If you want to test this section in your Wagon site, add the following
lines in the YAML section of any page including the {% sections_dropzone %}
(or inheriting from a layout including it):

sections_dropzone_content: >
  [
    {
      "type": "testimonials",
      "settings": {
        "title": "My awesome section"
      },
      "blocks": [
        {
          "type": "list_item",
          "settings": {
            "title": "Item #1"
          }
        },
        {
          "type": "list_item",
          "settings": {
            "title": "Item #2"
          }
        },
        {
          "type": "list_item",
          "settings": {
            "title": "Item #3"
          }
        }
      ]
    }
  ]

2. as stand-alone section

  {% section testimonials %}

If you want to test this section in your Wagon site, add the following
lines in the YAML section of the page including the statement above or complete it.

sections_content: >
  {
    "testimonials": {
      "settings": {
        "title": "My awesome Testimonials section"
      },
      "blocks": [
        {
          "type": "list_item",
          "settings": {
            "title": "Item #1"
          }
        },
        {
          "type": "list_item",
          "settings": {
            "title": "Item #2"
          }
        },
        {
          "type": "list_item",
          "settings": {
            "title": "Item #3"
          }
        }
      ]
    }
  }

{% endcomment %}
