---
{
  "name": "Tabbed features",
  "class": "section section-tabbed-features has-top-divider",
  "icon": "list",
  "keep_name": true,
  "keep_icon": true,
  "blocks_label": "List of features",
  "settings": [
    {
      "label": "Title",
      "id": "title",
      "type": "text"
    }
  ],
  "blocks": [
    {
      "name": "Feature",
      "type": "feature",
      "settings": [
        {
          "label": "Tab title",
          "id": "tab_title",
          "type": "text"
        },
        {
          "label": "Title",
          "id": "title",
          "type": "text"
        },
        {
          "label": "Description",
          "id": "description",
          "type": "text"
        },
        {
          "label": "Icon",
          "id": "icon",
          "type": "select",
          "options": [
            {
              "label": "Download",
              "value": "fa fa-cloud-download"
            },
            {
              "label": "Paint",
              "value": "fa fa-paint-brush"
            },
            {
              "label": "Diamond",
              "value": "fa fa-diamond"
            }
          ]
        }
      ]
    }
  ],
  "dropzone_presets": [
    {
      "name": "Tabbed features",
      "category": "Content",
      "settings": {
        "title": "Title"
      },
      "blocks": [
        {
          "type": "list_item",
          "settings": {
            "tab_title": "Title #1",
            "title": "Item #1",
            "description": "Description #1",
            "icon": "fa fa-diamond"
          }
        },
        {
          "type": "list_item",
          "settings": {
            "tab_title": "Title #2",
            "title": "Item #2",
            "description": "Description #2",
            "icon": "fa fa-diamond"
          }
        },
        {
          "type": "list_item",
          "settings": {
            "tab_title": "Title #3",
            "title": "Item #3",
            "description": "Description #3",
            "icon": "fa fa-diamond"
          }
        }
      ]
    }
  ]
}
---
<div class="section">
  <div class="container">
    <h2 class="title is-size-2 has-text-centered">{{ section.settings.title }}</h2>

    <div class="columns feature-tabs-container">
      <div class="column is-4">
        <nav class="feature-tab-links">
          {% for block in section.blocks %}
            <a href="#tab-pane-{{ forloop.index0 }}" class="{% if forloop.first %}is-active{% endif %}" {{ block.locomotive_attributes }}>
              {% if block.settings.icon.size > 0 %}
                <i class="{{ block.settings.icon }}"></i>
              {% endif %}

              <span>{{ block.settings.tab_title }}</span>
            </a>
          {% endfor %}
        </nav>
      </div>

      <div class="column is-8">
        {% for block in section.blocks %}
          <div class="feature-tab-pane {% if forloop.first %}is-active{% endif %}" id="tab-pane-{{ forloop.index0 }}" {{ block.locomotive_attributes }}>
            <h2 class="title is-size-3">
              {{ block.settings.title }}
            </h2>

            <div class="feature-description is-size-4 has-text-grey">
              {{ block.settings.description }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
