{% extends 'about_us' %}

{% block page_inner %}
<h3>We've got a couple very good reasons why you should learn yet another CMS</h3>

<div class="right-sidebar">
  <div id="technical-specs">
    <div class="header">&nbsp;</div>
    <div class="inner">
      <h4>What's inside the engine ?</h4>

      <ul>
        <li>
          <a href="http://www.rubyonrails.org">Ruby on Rails 3</a>
          <em>Powerful web framework</em>
        </li>
        <li>
          <a href="http://www.mongoid.org">Mongoid</a>
          <em>Ruby ODM framework for MongoDB</em>
        </li>
        <li>
          <a href="http://blog.plataformatec.com.br/tag/devise/">Devise</a>
          <em>Flexible authentication solution with Warden</em>
        </li>
        <li>
          <a href="http://www.liquidmarkup.org/">Liquid</a>
          <em>Safe, customer facing template language</em>
        </li>
        <li>
          <a href="http://haml-lang.com">HAML</a>
          <em>HTML Abstraction Markup Language</em>
        </li>
        <li>
          <a href="https://github.com/justinfrench/formtastic">Formtastic</a>
          <em>Form builder with semantically rich / accessible markup</em>
        </li>
        <li>
          <a href="https://github.com/josevalim/inherited_resources">InheritedResources</a>
          <em>Makes controllers more powerful and cleaner</em>
        </li>
        <li>
          <a href="http://carrierwave.rubyforge.org">Carrierwave</a>
          <em>Classier solution for file uploads</em>
        </li>
        <li>
          <a href="https://github.com/railsjedi/jammit-s3">Jammit-S3</a>
          <em>Industrial Strength Asset Packaging</em>
        </li>
      </ul>

    </div>
    <div class="footer">&nbsp;</div>
  </div>

  <div id="inside-engine">
    {{ 'specs/inside.png' | theme_image_tag }}
    <h4><em>Fig. 1.</em> &mdash; INSIDE THE ENGINE</h4>
  </div>
</div>


<div class="list">
  <ul>
    {% for feature in contents.features %}
    <li class="feature {% if feature.no_screenshot == true %}no-screenshot{% endif %}">
      {% if feature.no_screenshot != true %}
      <div class="image">
        {% if feature.popup %}
        <a href="{{ feature.source.url }}" target="_blank">
          <img src="{{ feature.thumb.url }}" alt="{{ feature.name }}" />
        </a>
        {% else %}
        <img src="{{ feature.thumb.url }}" alt="{{ feature.name }}" />
        {% endif %}
      </div>
      {% endif %}
      <h4>{% if feature.long_name %}{{ feature.long_name }}{% else %}{{ feature.name }}{% endif %}</h4>
      <div class="text">{{ feature.long_description }}</div>
      <div class="clear"></div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="clear">&nbsp;</div>
{% endblock %}

