---
title: Pricing
seo_title: "The number one Content Management System"
meta_description:
published: true
handle: pricing
slug: pricing
sections_content: >
  {
    "simple_hero": {
      "settings": {
        "headline": "Affordable pricing for everyone",
        "tagline": "Locomotive is open source and free to use for everyone. By using our hosting solution you save time & stress and you contribute to future open source development."
      }
    },
    "pricing": {
      "settings": {
      },
      "blocks": [
        {
          "type": "plan",
          "settings": {
            "name": "Personal",
            "price": "19",
            "description": "<p><strong>Max 1 site</strong></p><p>1GB Storage</p><p>Max 25.000 pageviews</p><p>Email support</p>",
            "cta_label": "Get started",
            "cta_link": "https://station.locomotive.works/_app/sign_up"
          }
        },
        {
          "type": "plan",
          "settings": {
            "name": "Freelancer",
            "price": "39",
            "description": "<p><strong>Max 3 sites</strong></p><p>3GB Storage</p><p>Max 75.000 pageviews</p><p>Email support</p>",
            "cta_label": "Get started",
            "cta_link": "https://station.locomotive.works/_app/sign_up"
          }
        },
        {
          "type": "plan",
          "settings": {
            "name": "Agency",
            "price": "79",
            "description": "<p><strong>Max 10 sites</strong></p><p>5GB Storage</p><p>Max 150.000 pageviews</p><p>Email and dedicated chat support</p>",
            "cta_label": "Get started",
            "cta_link": "https://station.locomotive.works/_app/sign_up"
          }
        },
        {
          "type": "plan",
          "settings": {
            "name": "Enterprise",
            "price": "199",
            "description": "<p><strong>Max 100 sites</strong></p><p>10GB Storage</p><p>Max 500.000 pageviews</p><p>Priority Skype and email support</p><p>Dedicated account manager</p><p>White Label</p>",
            "cta_label": "Get started",
            "cta_link": "https://station.locomotive.works/_app/sign_up"
          }
        }
      ]
    },
    "icon_features": {
      "settings": {
        "title": "All plans include"
      },
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "title": "Free automatic updates with new features and enhancements.",
            "icon": "fa fa-refresh"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Very secure back office (SSL), protecting your data at all cost.",
            "icon": "fa fa-lock"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Assets served through a CDN for optimal speed.",
            "icon": "fa fa-picture-o"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Automatic free SSL certificate for each site.",
            "icon": "fa fa-upload"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Use your own domain names.",
            "icon": "fa fa-globe"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "No contracts required, opt-in and out at any time.",
            "icon": "fa fa-file-text"
          }
        }
      ]
    }
  }
---

{% extends "layouts/base" %}

{% block main %}

  {% section 'simple_hero' %}

  {% section 'pricing' %}

  {% section 'icon_features' %}

  {% comment %}
  <header class="header-primary">
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation %}
        {% block header %}
        <div class="header-content">
          <h1>{% editable_text "headline", format: raw, rows: 1 %}Simple pricing for everyone{% endeditable_text %}</h1>
          <p>{% editable_text "tagline", format: raw, rows: 3 %}Locomotive is open and free to use for anyone. We offer a hosted solution with heaps of benefits.{% endeditable_text %}</p>
        </div>
        {% endblock %}
      </div>
      {% block plans %}
        {% editable_model plans %}
          {% for plan in contents.plans %}
            <div class="grid-cell with-3col">
              <div class="block block-white">
                <h5>{{ plan.name }}</h5>
                <div class="block-price">
                  <i>$</i>
                  <h1>{{ plan.price }}</h1>
                  <span>per month</span>
                </div>
                <div class="block-white-description">
                  {{ plan.description }}
                </div>
              </div>
            </div>
          {% endfor %}
        {% endeditable_model %}
        <div class="grid-cell is-centered">
          <div class="block-outro">
            <br/>
            <a href="https://station.locomotive.works/_app/sign_up" class="button button-black">Sign up</a>
            <br/>
            <br/>
            {% editable_text "contact-us" %}
              Need a larger plan? <a href="mailto:contact@locomotivecms.com" title="Contact us">Contact us</a>.
            {% endeditable_text %}
          </div>
        </div>
      {% endblock %}
    </div>
  </header>

  {% block features %}
  <section class=" is-light">
    <div class="grid grid-centered">
      <div class="grid-cell is-centered">
        <h2>{% editable_text "title", format: raw, rows: 1 %}All plans include{% endeditable_text %}</h2>
      </div>
      {% editable_model hosting_features %}
        {% for feature in contents.hosting_features %}
          {% assign column = forloop.index0 | modulo: 2 %}

          {% if column == 0 %}
            {% capture column_1 %}
              {{ column_1 }}
              <li>
                <i class="fa fa-{{ feature.icon }}" aria-hidden="true"></i>
                <p>
                  {{ feature.label }}
                </p>
              </li>
            {% endcapture %}
          {% else %}
            {% capture column_2 %}
              {{ column_2 }}
              <li>
                <i class="fa fa-{{ feature.icon }}" aria-hidden="true"></i>
                <p>
                  {{ feature.label }}
                </p>
              </li>
            {% endcapture %}
          {% endif %}
        {% endfor %}

        <div class="grid-cell with-6col">
          <ul class="block-features">
            {{ column_1 }}
          </ul>
        </div>
        <div class="grid-cell with-6col">
          <ul class="block-features">
            {{ column_2 }}
          </ul>
        </div>
      {% endeditable_model %}
    </div>
  </section>
  {% endblock %}

  {% block faq %}
  <section class="with-border">
    <div class="grid grid-centered">
      <div class="grid-cell is-centered">
        <h3 class="block-faq-title">{% editable_text "title", format: raw, rows: 1 %}Frequently asked questions{% endeditable_text %}</h3>
      </div>
      {% for faq in contents.faq_items %}
        <div class="grid-cell with-6col">
          <div class="block-faq">
            <strong>{{ faq.question }}</strong>
            <p>
              {{ faq.answer }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  {% endblock %}

  {% endcomment %}

{% endblock %}
