---
title: Pricing
seo_title: "The number one Content Management System"
meta_description:
published: true
handle: pricing
slug: pricing
---

{% extends "layouts/base" %}

{% block main %}
  <header class="header-primary">
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation %}
        {% block header %}
        <div class="header-content">
          <h1>{% editable_text "headline", format: raw, rows: 1 %}Simple pricing for everyone{% endeditable_text %}</h1>
          <p>{% editable_text "tagline", format: raw, rows: 3 %}Locomotive is open and free to use for anyone. We offer a hosted solution with heaps of benefits.{% endeditable_text %}</p>
        </div>
        {% endblock %}
      </div>
      {% block plans %}
        {% editable_model plans %}
          {% for plan in contents.plans %}
            <div class="grid-cell with-3col">
              <div class="block block-white">
                <h5>{{ plan.name }}</h5>
                <div class="block-price">
                  <i>$</i>
                  <h1>{{ plan.price }}</h1>
                  <span>per month</span>
                </div>
                <div class="block-white-description">
                  {{ plan.description }}
                </div>
              </div>
            </div>
          {% endfor %}
        {% endeditable_model %}
        <div class="grid-cell is-centered">
          <div class="block-outro">
            {% editable_text "contact-us" %}
              Need a larger plan? <a href="mailto:contact@locomotivecms.com" title="Contact us">Contact us</a>.
            {% endeditable_text %}
          </div>
        </div>
      {% endblock %}
    </div>
  </header>

  {% block features %}
  <section class=" is-light">
    <div class="grid grid-centered">
      <div class="grid-cell is-centered">
        <h2>{% editable_text "title", format: raw, rows: 1 %}All plans include{% endeditable_text %}</h2>
      </div>
      <div class="grid-cell with-6col">
        {% editable_model hosting_features %}
          {% for feature in contents.hosting_features %}
            {% assign column = forloop.index0 | modulo: 2 %}

            {% if column == 0 %}
              {% capture column_1 %}
                {{ column_1 }}
                <li>
                  <i class="fa fa-{{ feature.icon }}" aria-hidden="true"></i>
                  <p>
                    {{ feature.label }}
                  </p>
                </li>
              {% endcapture %}
            {% else %}
              {% capture column_2 %}
                {{ column_2 }}
                <li>
                  <i class="fa fa-{{ feature.icon }}" aria-hidden="true"></i>
                  <p>
                    {{ feature.label }}
                  </p>
                </li>
              {% endcapture %}
            {% endif %}

          {% endfor %}

          <ul class="block-features">
            {{ column_1 }}
          </ul>
        </div>
        <div class="grid-cell with-6col">
          <ul class="block-features">
            {{ column_2 }}
          </ul>
        </div>
      {% endeditable_model %}
    </div>
  </section>
  {% endblock %}

  {% block faq %}
  <section class="with-border">
    <div class="grid grid-centered">
      <div class="grid-cell is-centered">
        <h3 class="block-faq-title">{% editable_text "title", format: raw, rows: 1 %}Frequently asked questions{% endeditable_text %}</h3>
      </div>
      {% for faq in contents.faq_items %}
        <div class="grid-cell with-6col">
          <div class="block-faq">
            <strong>{{ faq.question }}</strong>
            <p>
              {{ faq.answer }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  {% endblock %}

{% endblock %}
