---
title: Testimonials
seo_title: "Testimonials"
meta_description:
published: true
handle: testimonials
slug: testimonials
sections_content: >
  {
    "simple_hero": {
      "settings": {
        "headline": "Real users, all over the world",
        "tagline": "Discover how people use and love LocomotiveCMS."
      }
    },
    "testimonials": {
      "settings": {}
    }
  }
---
{% extends "layouts/base" %}

{% block main %}

  {% section 'simple_hero' %}

  {% section 'testimonials' %}

  {% comment %}
    <header style="position: relative; background: url({% editable_file 'home-header-image', resize: '1900x900#' %}/samples/pages/header-testimonials.jpg{% endeditable_file %}) center center no-repeat;">
      <div class="header-overlay">
        <div class="grid grid-centered">
          <div class="grid-cell">
            {% include navigation %}
            {% block header %}
            <div class="header-content is-small">
              <h1>{% editable_text "headline", format: raw, rows: 1 %}Real users, all over the world{% endeditable_text %}</h1>
              <p>{% editable_text "tagline", format: raw, rows: 3 %}Discover how people use and love LocomotiveCMS.{% endeditable_text %}</p>
            </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </header>

    <main>
      {% block testimonials %}
      <section class="is-small">
        <div class="grid grid-centered">

          {% capture button %}{% editable_text 'read_more_button', format: raw, rows: 1, inline_editing: false %}Read the transcript{% endeditable_text %}{% endcapture %}

          {% editable_model testimonials %}
            {% for testimonial in contents.testimonials %}
              {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
              {% if thecycle == 'even' %}
                <div class="grid-cell with-6col is-middle">
                  {% include 'testimonial' with testimonial: testimonial, button: button %}
                </div>
                <div class="grid-cell with-5col with-1off is-middle">
                  <div class="video testimonial-video">
                    <div style="background: url({{ testimonial.header_picture.url | resize: '400x300#' }}) center center no-repeat; background-size: cover;" class="video-overlay video-click" data-video-id="{{ testimonial.video }}">
                      <div class="video-play">
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="video-iframe"></div>
                  </div>
                </div>
              {% else %}
                <div class="grid-cell with-5col is-middle">
                  <div class="video testimonial-video">
                    <div style="background: url({{ testimonial.header_picture.url | resize: '400x300#' }}) center center no-repeat; background-size: cover;" class="video-overlay video-click" data-video-id="{{ testimonial.video }}">
                      <div class="video-play">
                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="video-iframe"></div>
                  </div>
                </div>
                <div class="grid-cell with-6col with-1off is-middle">
                  {% include 'testimonial' with testimonial: testimonial, button: button %}
                </div>
              {% endif %}
            {% endfor %}
          {% endeditable_model %}
        </div>
      </section>
      {% endblock %}

    </main>

    {% endcomment %}
{% endblock %}


{% comment %}
{% block page_scripts %}
  {{ "video.js" | javascript_tag }}
{% endblock %}
{% endcomment %}
