{% extends support %}

{% block page_wrapper_class %}wo-sidebar{% endblock %}

{% block page_header %}
  <a href="http://demo.locomotivecms.com/admin" class="btn" id="see-demo">Try demo</a>
  <a href="/support/installation" class="btn" id="get-started">Get started</a>
  {% nav 'index', id: 'main-nav' %}
{% endblock %}

{% block page_inner %}
  <h3>Learn all about Locomotive and its crew</h3>

  <div id="contact-us">
    <a href="mailto:info@locomotivecms.com" class="email">info@locomotivecms.com</a>
    <a href="http://twitter.com/#!/locomotiveapp" class="twitter">@locomotiveapp</a>
  </div>

  <div class="unit size2of3">
    <h4>The story</h4>

    <div class="text">
      <p>The story begins the same way as any CMS open source projects. As a developer in a web agency, I was frustrated to work on small kind of static websites. At the time, I had two options my pocket to build a content website: editing pure html files (sic) or creating a new small rails project (with models and so on). Although Rails made the creation of content websites quite easy, you still have to deal with db migrations, deployments, ...etc. Then, I left the company and stopped building websites for living.</p>

      <br/>

      <p>But, on my spare time, I began to think about a new kind of cms. And my (long) journey to my CMS experiments started. Believe me or not, I coded a lot of solutions, almost all the ones you can find in the CMS market: "Drag&drop blocks" CMS (sexy but not very efficient for non-portal websites), a la CushyCMS, ...etc. I <s>wasted</s> spent a lot of time but it was fun and I learned a lot about what should be the perfect CMS.
      </p>

      <br/>

      <p>Eventually, it turned out that (in my opinion) my dream CMS should allow me to organize data in an easy way meaning without creating Rails models and handle multiple sites without setting up a new server or a new environment each time I need a website. <br/>
        And I heard about the nosql database technology and it was a kind of a revelation for me. I knew for sure I had to embed a nosql database in my CMS. But which one to choose ? Here is the funny part of the project, I implemented a lot of combinations, let me list them for you: ActiveRecord / CouchDB (AR for the Site, Page, ...etc models and CouchDB for the custom contents), ActiveRecord / Mongodb / MongoMapper, Mongodb / MongoMapper (I left AR at this time) and finally Mongodb / Mongoid. I didn't even mention the different versions of Rails.</p>

      <br/>

      <p>Once I picked for good my core components (Rails 3, Mongodb, Mongoid, Liquid, ..etc), I built quickly a prototype and hired Sacha for some design enhancements and UI tips. He fell in love of the project and joined me on the CMS which then took the name of Locomotive ! Later, Jacques asked me if he also could participate because he was looking for a project like mine to work on, meaning a CMS using the last sexy technologies (Rails 3, MongoDB, Devise, ...etc). One of the reasons which motivated him was the overall quality of the project and I still receive compliments from people digging into the code.<br/>
        Jacques's contribution was highly valuable because he helped me a lot to make Locomotive more robust. Besides, it was his move to implement the template inheritance which is a great addition.
        </p>

      <br/>

      <p>So, yes, that is a long story. Hopefully, it is not going to be finished soon !</p>

    </div>

    <div class="sep">&nbsp;</div>

    <h4>Meet the crew</h4>

    <ul id="crew">
      {% for person in contents.crew %}
      <li class="person {% cycle 'first', 'second', 'third' %}">
        <div class="picture"><img src="{{ person.picture.url }}" /></div>
        <div class="plate"><img src="{{ person.plate.url }}" /></div>
        <h5>{{ person.title }}</h5>
        <h6><a href="{{ person.company_url }}">{{ person.company }}</a></h6>
        <div class="body">{{ person.bio }}</div>
      </li>{% endfor %}
      <li class="clear"></li>
    </ul><div class="sep">&nbsp;</div>

    <!-- <h4>Who is using LocomotiveCMS ?</h4>

    <p>TODO</p> -->

  </div>

  <div class="unit size1of3 lastUnit">
    <!-- <h4>Locomotive in the news</h4> -->

    <!-- <ul id="news">
      {% for news in contents.news %}
      <li>
        <h3><em>{{ news.site_name }}</em>, {{ news.posted_at | localized_date: '%B %d, %Y' }}</h3>
        <p><a href="{{ news.url }}">"{{ news.sentence }}"</a></p>
      </li>
      {% endfor %}
    </ul> -->

    <h4>Who is using our CMS ?</h4>

    <ul id="companies">
      {% for company in contents.companies %}
      <li>
        <a href="http://{{ company.url }}"><img src="{{ company.logo.url }}" alt="{{ company.name }}" /></a>
      </li>
      {% endfor %}
    </ul>

    <div class="sep">&nbsp;</div>

    <h4>Jump on our bandwagon!</h4>

    <div id="press-kit">
      <a href="http://www.yahoo.fr"><img src="{{ 'buttons/presskit.png' | theme_image_url }}" alt="Download press kit"/></a>
      <em>Logo and screenshots (.zip, 17 mo)</em>
    </div>
  </div>

  <div class="clear"></div>
{% endblock %}