{% extends 'about_us' %}

{% block page_inner %}
  <h3>Locomotive becomes even more powerful when you extend it</h3>

  <div class="right-sidebar">
    <h4>Have an idea ?</h4>
    <p class="text">
      If there's a module that you’d like to see, you can vote on your favorite ideas on <a href="#">UserVoice</a>.
    </p>

    <div class="sep">&nbsp;</div>

    <h4>Want to contribute ?</h4>
    <p class="text">
      <a href="mailto:info@locomotivecms.com">Contact us</a> if you're interested in writing and selling your own Locomotive modules.</a>
    </p>

    <div class="sep">&nbsp;</div>

    <!-- bushido -->
    {% include 'bushido' %}
  </div>

  <ul id="modules">
    {% for module in contents.modules %}
    <li>
      <div class="icon" style="background-image: url({{ module.logo.url }})"></div>
      <h4>
        <a href="{% if module.url %}/modules/{{ module._permalink }}{% else %}#{% endif %}">{{ module.name }}</a>
        &mdash;
        by {{ module.editor }}
      </h4>
      <div class="text">
        {{ module.short_description }}
      </div>
      <div class="price">
        {% if module.price %}
          <a href="/modules/{{ module._permalink }}">${{ module.price }}</a>
        {% else %}
          <span>&mdash;</span>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>

  <div class="clear"></div>

{% endblock %}
