{% extends 'about_us' %}

{% block page_title %}
<h2>{{ module.name }}</h2>
{% endblock %}

{% block page_inner %}

<br/>

<div class="right-sidebar">

  <div id="module-buy-now">
    <h5>&euro; {{ module.price }}</h5>
    <p class="action">
      <a class="btn" href="http://{{ module.url }}">Buy now</a>
    </p>
    <div class="text">
      {{ module.license }}
    </div>
  </div>

  <!--
  <div class="sep">&nbsp;</div>
  -->

  <!-- bushido -->

  <!--
  {% include 'bushido' %}
  -->
</div>

<div class="module-icon">
  <div class="icon" style="background-image: url({{ module.logo.url }})"></div>
</div>

<div class="text module-text">
  {{ module.description }}
</div>

<div class="clear"></div>

{% endblock %}